* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}

body {
  width: 100vw;
  height: 100vh;
  color: #555;
  background-color: #f6f6f6;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}
.svg-icon {
  height: 22px;
  margin: 0px 10px -3px 25px;
}
.login-div {
  width: 400px;
  height: 600px;
  background-color: #ecf0f3;
  border-radius: 60px;
  /* dar in halat mitavan 2 shadoww be form bedagim manfi ke mizarim mishe chap va bala  */
  box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 1rem; */
}
.logo img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  box-shadow: 0px 0px 0px 5px #ecf0f3, 8px 8px 15px #afaaa7, -8px -8px 15px #fff;
  margin-bottom: 20px;
}
.title {
  font-size: 18px;
}
.fields {
  width: 70%;
  margin-top: 40px;
}
.fields input {
  background: none;
  font-size: 14px;
  padding: 16px 0px;
}
.input {
  margin-bottom: 30px;
  border-radius: 25px;
  box-shadow: 8px 8px 8px #cbced1, -8px -8px 8px #fff;
}
.login-button {
  width: 70%;
  cursor: pointer;
  background-color: #02c8db;
  height: 50px;
  border-radius: 25px;
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px #fff;
  transition: all 0.3s ease-in;
  margin-bottom: 20px;
}
.login-button:hover {
  background: #50e550b9;
  font-size: 16px;
}
.link a {
  text-decoration: none;
  color: #aaa;
  font-size: 12px;
  transition: all 0.3s ease-in;
}
.link a:hover {
  color: #02c8db;
}
